.vs/
.vscode/
.idea/

*.cab
*.msi
*.msm
*.msp

*.cab
*.log

[Dd]ebug/
[Dd]ebugPublic/
[Dd]Release/
[Dd]ebugBuild/
[Dd]ReleaseBuild/
bin/
obj/

*.suo
*.user
*.userosscache
*.sln.docstates

ScaffoldingReadMe.txt
/ClanChatTests
